:root {
    --toolbar-height: 5rem;
    --jumbo-overlay-opacity: 0.8;
    --primary: #444444;
    --primary-txt: #dddddd;
    --darker: #eeeeee;
}

.jumbo #jumbo-overlay {
    --primary: #bc6360;
}
.jumbo .inner-wrapper .inner {
    --primary-txt: white;
}

body > header {
    background-color: var(--primary);
}

body > header nav,
body > header nav .languages a.lang:before  {
    color: var(--primary-txt);
}
body > header nav li.active {
    color: var(--darker);
}

body > header .logo img {
    max-width: 350px;
}

@media (max-width: 75em) {
    body > header nav {
        background-color: var(--primary);
    }
}

body > main > section.primary {
    background-color: #4d4d4d;
}

.jumbo .jumbo-cover:after {
    background-color: black;
}

.jumbo img.jumbo-logo {
    width: min(800px, 75vw);
}

.jumbo #jumbo-overlay {
    opacity: 0.6 !important;
}

.hero .description {
    background-color: #bc6360;
    color: white;
}

body > footer {
    background-color: #4d4d4d;
    color: #cccccc;
}

.footer-footer > ul {
    display: block;
}

.footer-footer > ul > li {
    list-style-type: none;
    text-align: center;
}

.footer-footer a {
    color: white;
}


.hero h1 {
    color:  #bc6360;
    font-weight: bold;
}

body>header nav .languages a.lang {
    height: 4em;
}

@media (max-width: 75em) {
    .jumbo .inner-wrapper .inner h3 {
        font-size: 1.25em;
        overflow-wrap: break-word;
    }
}