:root {
    --toolbar-height: 5rem;
    --jumbo-overlay-opacity: 0.8;
}

body > header {
    background-color: #4d4d4d;
}

body > header nav,
body > header nav .languages a.lang:before  {
    color: #cccccc;
}
body > header nav li.active {
    color: white;
}

body > header .logo img {
    max-width: 350px;
}

body > main > section.primary {
    background-color: #4d4d4d;
}

.jumbo .jumbo-cover:after {
    background-color: black;
}

.jumbo img.jumbo-logo {
    width: min(800px, 75vw);
}

.jumbo #jumbo-overlay {
    opacity: 0.7;
}

.hero .description {
    background-color: goldenrod;
    color: white;
}

body > footer {
    background-color: #4d4d4d;
    color: #cccccc;
}

.footer-footer > ul {
    display: block;
}

.footer-footer > ul > li {
    list-style-type: none;
    text-align: center;
}

.footer-footer a {
    color: white;
}